body,html {
  height: 100%;
  background: $brand-secondary;
}

body{
  .m-r-10{
    margin-right:10px;
  }

  #header{
    background: $gray-dark;
    padding: 10px;
    margin-bottom: 20px;
    h5{
      color: white;
      margin: 0;
      padding: 0;
      line-height: 44px;
    }
  }

  .seperator{
    background: $brand-primary;
    height: 3px;
    content: "";
    bottom: 0px;
    left: 15px;
    width: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .rules-container{
    .single-rule{
      background: #f5f5f5;
      padding: 20px;
      margin-bottom: 20px;
      border: $brand-primary 1px dashed;
      position: relative;
      &.code-ready{
        textarea{
          display: none;
        }
        pre{
          display: block;
        }
      }
      pre{
        display: none;
      }
      .rule-id-circle{
        position: absolute;
        display: inline-block;
        background: $brand-ornage;
        padding: 5px 10px;
        border-radius: 15px;
        top: -10px;
        right: -10px;
        color: white;
      }
    }
  }

  %extend_1 {
    content: "";
    position: absolute;
    z-index: 1;
    width: 35.36px;
    height: 35.36px;
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 7.3223px;
    box-shadow: 0 0 7px $black-60;
  }


  .fadeIn{
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
  }

  .hexagon {
    position: relative;
    width: 50px;
    display: inline-block;
    height: 28.87px;
    background-color: $brand-success;
    margin: 14.43px 10px;
    box-shadow: 0 0 7px $black-60;
    &.error{
      background: #D9534F;
    }
    &:before {
      @extend %extend_1;
      top: -17.6777px;
    }
    &:after {
      @extend %extend_1;
      bottom: -17.6777px;
    }
    span {
      color: #ffffff;
      text-align: center;
      font-size: 12px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 28.8675px;
      z-index: 2;
      background: inherit;
      i{
        display: block;
      }
    }
  }
}